In [1]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('./data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
435,tt1179056,35000000,115664037,A Nightmare on Elm Street,Jackie Earle Haley|Katie Cassidy|Kyle Gallner|...,Samuel Bayer,Never Sleep Again.,The film that brings back horror icon Freddy K...,95,Horror|Mystery|Thriller,New Line Cinema|Platinum Dunes,4/30/2010,5.5,2010
1092,tt0319061,70000000,122919055,Big Fish,Ewan McGregor|Albert Finney|Billy Crudup|Jessi...,Tim Burton,An adventure as big as life itself.,Throughout his life Edward Bloom has always be...,125,Adventure|Fantasy|Drama,The Zanuck Company|Columbia Pictures Corporati...,12/25/2003,7.4,2003
706,tt0482603,37000000,63800345,Space Chimps,Andy Samberg|Cheryl Hines|Jeff Daniels|Stanley...,Kirk De Micco,"Houston, we have a problem!",Circus monkey Ham III works in a circus where ...,81,Animation|Family,Starz Media|Starz Animation|Odyssey Entertainm...,7/17/2008,5.1,2008
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,12/22/2000,6.2,2000
461,tt0808510,48000000,112462508,Tooth Fairy,Dwayne Johnson|Stephen Merchant|Ashley Judd|Ju...,Michael Lembeck,You can't handle the tooth.,When minor-league hockey player Derek Thompson...,101,Comedy|Family|Fantasy,Dune Entertainment|Dune Entertainment III|Twen...,1/14/2010,5.2,2010

### Вопрос 1. У какого фильма из списка самый большой бюджет?

### Вопрос 2. Какой из фильмов самый длительный (в минутах)?

### Вопрос 3. Какой из фильмов самый короткий (в минутах)?

### Вопрос 4. Какова средняя длительность фильмов?

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

# 3. Какой из фильмов самый короткий (в минутах)?

# 4. Какова средняя длительность фильмов?

# 5. Каково медианное значение длительности фильмов?

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [4]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
# Вариант 1
data['profit'] = data.revenue - data.budget

# Вариант 2
data[(data.revenue - data.budget) == (data.revenue - data.budget).max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

# 9. Какой фильм оказался самым кассовым в 2008 году?

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
# Денормализованный способ. Выбрать столбцы в отдельный фрейм
# разделить конкатеннированные строки и вместо них добавить новые (.concat()), а старую удалить (тоже .concat(), 
# выбрв старый фрем до текущей позиции и его же после текущей позиции).
# Далее выполнить группировку датафрейма по режиссеру с агрегирующей функцией aggfunc='count'

In [698]:
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [12]:
# Nicolas Cage
'''
# создаём датафрейм с актерами
actors = pd.DataFrame({}, columns=['imdb_id','actor'])
cur_key = 0
# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,cast in data['cast'].str.split('|').items():
    for name in cast:
        actors = pd.concat([actors, pd.DataFrame([[data.imdb_id.loc[key],name]], columns=['imdb_id','actor'], index=[cur_key])])
        cur_key += 1
        '''
        
# создаём датафрейм с жанрами
genres = pd.DataFrame(columns=['imdb_id','genre'])
cur_key = 0
# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,genres_list in data[data.cast.str.contains('Nicolas Cage')]['genres'].str.split('|').items():
    for genre in genres_list:
#         print(cur_key,data.imdb_id.loc[key],genre)
        temp = pd.DataFrame([[data.imdb_id.loc[key],genre]], columns=['imdb_id','genre'], index=[cur_key])
#         display(genres)
        genres = pd.concat([genres, temp])
        cur_key += 1

genres.groupby(['genre'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
# data.profit
# data.profit.min()
# data.profit == 
# data.profit.min()
data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit == -64831034)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [85]:
# Создаём столбец с номером месяца
data['month'] = data.release_date.apply(lambda x: int(x.split('/')[0]))
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False).index[0]
# 9 - сентябрь

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [88]:
data[(data.month >= 6) & (data.month <= 8)]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)