In [2]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('./data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
369,tt1071812,25000000,20719451,Mao's Last Dancer,Chi Cao|Chengwu Guo|Wen Bin Huang|Joan Chen|Br...,Bruce Beresford,æœ€åŽçš„èˆžè€…,"At the age of 11, Li was plucked from a poor C...",117,Drama|Romance,Great Scott Productions Pty. Ltd.,10/1/2009,6.7,2009
734,tt1302011,150000000,665692281,Kung Fu Panda 2,Jack Black|Angelina Jolie|Dustin Hoffman|Gary ...,Jennifer Yuh,Prepare for the Year of Awesomeness!,Po is now living his dream as The Dragon Warri...,91,Animation|Family,DreamWorks Animation,5/25/2011,6.6,2011
559,tt0180734,32000000,40222729,Hardball,Keanu Reeves|Diane Lane|Michael B. Jordan|D. B...,Brian Robbins,The most important thing in life is showing up,"An aimless young man who is scalping tickets, ...",106,Comedy|Romance,Paramount Pictures|GHS Productions KG|Munich F...,9/14/2001,6.4,2001
1773,tt0466839,24000000,9576495,I Could Never Be Your Woman,Michelle Pfeiffer|Paul Rudd|Saoirse Ronan|Stac...,Amy Heckerling,Find Yourself. In Love.,This movie follows a mother who falls for a yo...,97,Comedy|Drama|Romance,Scott Rudin Productions|I Could Never Ltd.|Bau...,5/11/2007,5.3,2007
345,tt1135487,78146652,60000000,Duplicity,Clive Owen|Julia Roberts|Paul Giamatti|Tom Wil...,Tony Gilroy,Outwit. Outspy. Outsmart. Outplay. Then get out.,Two romantically-engaged corporate spies team ...,125,Thriller,Universal Pictures|Laura Bickford Productions|...,3/19/2009,5.5,2009

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

### Вопрос 1. У какого фильма из списка самый большой бюджет?

In [20]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

### Вопрос 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

### Вопрос 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

### Вопрос 4. Какова средняя длительность фильмов?

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [31]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [237]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,7,74

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [236]:
display(data[data.runtime == data.runtime.max()])
answers['2'] = '2. Gods and Generals (tt0279111)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,3,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [235]:
display(data[data.runtime == data.runtime.min()])
answers['3'] = '3. Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,3,52

# 4. Какова средняя длительность фильмов?

In [234]:
display(int(round(data.runtime.mean(), 0)))
answers['4'] = '2. 110'

110

# 5. Каково медианное значение длительности фильмов?

In [233]:
display(int(round(data.runtime.median(), 0)))
answers['5'] = '1. 107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [232]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
# Вариант 1
data['profit'] = data.revenue - data.budget

# Вариант 2
data[(data.revenue - data.budget) == (data.revenue - data.budget).max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,1,28

# 7. Какой фильм самый убыточный?

In [231]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,3,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [230]:
answers['8'] = '1. 1478'
data[data.revenue > data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [229]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data2008 = data[data.release_year == 2008]
data2008[data2008.revenue == data2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,3,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [228]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
subdata = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
subdata[subdata.profit == subdata.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,3,68

# 11. Какого жанра фильмов больше всего?

In [226]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

import re


def get_genres(genres):
    '''Возвращаем массив с отдельными значениями'''
    return (re.compile('(\w+[^|])+').findall(genres))


# Словарь жанров
genres_list = {}
for all_genres in data.genres:
    # Добавляем каждое изъятое значение в счётчик значений, либо увеличиваем счётчик 
    for item in get_genres(all_genres):
        if item in genres_list:
            genres_list[item] += 1
        else:
            genres_list[item] = 1

# Датафрейм для удобной работы
df = pd.DataFrame(genres_list.values(), index=genres_list.keys(), columns=['count'])
# Ответ:
print(df[df['count'] == df['count'].max()].index[0])
answers['11'] = '3. Drama'

Drama

ВАРИАНТ 2

In [227]:
# этот вариант можно посчитать через цикл, найдя максимальное значение в словаре (вместо pandas)
max_count = 0
max_key = ''
for key,value in genres_list.items():
    if value > max_count:
        max_count = value
        max_key = key
# Ответ:
print(max_key)
answers['11'] = '3. Drama'

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [225]:
# Сгруппируем датафрейм по жанрам.

# Словарь жанров
profit_list = {}
for all_genres in data[data.profit > 0].genres:
    # Добавляем каждое изъятое значение в счётчик значений, либо увеличиваем счётчик 
    for item in get_genres(all_genres):
        if item in profit_list:
            profit_list[item] += 1
        else:
            profit_list[item] = 1

# Датафрейм для удобной работы
df = pd.DataFrame(profit_list.values(), index=profit_list.keys(), columns=['count'])

# Ответ:
# Вариант 1 (сортировка):
display(df['count'].sort_values(ascending=False).index[0])

# Вариант 2 (функция max)
# print(df[df['count'] == df['count'].max()].index[0])

answers['12'] = '1. Drama'

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [222]:
answers['13'] = '5. Peter Jackson'

def get_split(arr):
    '''Возвращаем массив с отдельными значениями'''
    return (re.compile('(.+[^|])+').findall(arr))


data2 = data.groupby(['director'])[['director','profit']].sum()

# Словарь доходов
profit_list = {}
for all_genres in data.genres:
    # Добавляем каждое изъятое значение в счётчик значений, либо увеличиваем счётчик 
    for item in get_genres(all_genres):
        if item in profit_list:
            profit_list[item] += 1
        else:
            profit_list[item] = 1

display(data2['profit'].sort_values(ascending=False).index[0])

# Ответ:
# Вариант 1 (сортировка):
# df['count'].sort_values(ascending=False)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
# Денормализованный способ. Выбрать столбцы в отдельный фрейм
# разделить конкатеннированные строки и вместо них добавить новые (.concat()), а старую удалить (тоже .concat(), 
# выбрв старый фрем до текущей позиции и его же после текущей позиции).
# Далее выполнить группировку датафрейма по режиссеру с агрегирующей функцией aggfunc='count'

In [221]:
# Решение в лоб! Найти все записи, где есть Action, и прибавлять счётчик по каждому режиссеру в словаре/списке.
# Если список, то выполнить сортировку по второму полю (count).
# arr.sort(key = lambda x: x[1]) или sorted(arr, key=lambda x: x[1]), где x[1] это второе поле.
# Если словарь, то сортировка выполняется .sort_valuses(ascending=False)

director_action = {
    # "режиссёр": кол-во
}
max_count = 0
data4 = data[data.genres.str.contains('Action', na=False)].groupby(['director'])['director'].count()
for key,value in data4.items():
#     print(key.split('|'))
    for name in key.split('|'):
        if name in director_action:
            director_action[name] += value
        else:
            director_action[name] = value
        if director_action[name] > max_count:
            max_count = director_action[name]
            print(name,director_action[name])
# последный вывод строки отображает результат
answers['14'] = '3. Robert Rodriguez'

Adam McKay 1
Alan Taylor 2
Andrzej Bartkowiak 5
Antoine Fuqua 6
Michael Bay 7
Robert Rodriguez 8
Robert Rodriguez 9

In [180]:
# ЧЕРНОВИК одного из вариантов. Пока не работает!

directors = {
    #director: [ gener:count ...]
}
# directors.append('Lana Wachowski')
# display(directors)
# Lana Wachowski|Lilly Wachowski': 'Adventure
def get_split(string):
    '''Возвращаем список с отдельными значениями'''
#     result = re.compile('.+[^|]').findall(string)
#     print(string)
#     print(result)
    return string.split('|')

def get_genres(genres):
    '''Возвращаем массив с отдельными значениями'''
#     print(genres+" jggf!")
#     result = re.compile('(\w+[^|])+').findall(genres)
#     print(result)
    return genres.split('|')

def counts(directors, genres):
    '''Возвращаем словарь с множеством пар director:gener'''
#     print(get_split(genres))
    return { director:x for director in get_split(directors) for x in get_genres(genres)}

for key, line in data.iterrows():
    for director,genre in counts(line.director, line.genres).items():
        if genre != 'Action':
            continue
        if director in directors:
            directors[director] += 1
        else:
            # добавить режиссёра
            directors[director] = 1

display(sorted(directors, key=directors.get)[0:5])
# df = pd.DataFrame(directors.values(), index=directors.keys(), columns=['count'])
# df
# max_action = 0
# max_director = ''
# for director,genres in directors.items():
#     print(director, genres)
    
#     if director['Action'] >
# df['Pierre Coffin']
# display(directors)

['Christopher McQuarrie',
 'David Ayer',
 'Clint Eastwood',
 'JosÃ© Padilha',
 'George Clooney']

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [182]:
# Вариант 1
# будем денормализовывать данные
# ...ничего не вышло, идём к варианту 2

In [184]:
# Вариант 2
# тут запоролся на переборе данных из датафрейма.
actor_profit = {}
max_count = 0
data4 = data[data.release_year == 2012][['cast','profit']]
actor_profit = {}
max_count = 0
for key,value in data4.iterrows():
#     print(value[1])
    for name in value[0].split('|'):
#         print(name,value[1])
        if name in actor_profit:
            actor_profit[name] += value[1]
        else:
            actor_profit[name] = value[1]
        if actor_profit[name] > max_count:
            max_count = actor_profit[name]
            print(name,actor_profit[name])
# последный вывод строки отображает результат
answers['15'] = '3. Chris Hemsworth'

Robert Downey Jr. 1299557910
Chris Hemsworth 1526157910
Chris Hemsworth 1562643990

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [192]:
# Примечание: в фильмах, где бюджет выше среднего по данной выборке (54310829.63843303)
# answers[''] = ''

# создаём датафрейм с актерами
actors = pd.DataFrame({}, columns=['imdb_id','actor'])
cur_key = 0
# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,cast in data[data.budget > data.budget.mean()]['cast'].str.split('|').items():
    for name in cast:
        actors = pd.concat([actors, pd.DataFrame([[data.imdb_id.loc[key],name]], columns=['imdb_id','actor'], index=[cur_key])])
        cur_key += 1

display(actors.groupby(['actor'])['imdb_id'].count().sort_values(ascending=False).index[0])        
answers['16'] = '3. Matt Damon'

'Matt Damon'

In [193]:
# Вариант 2. Не органичиваем таблицу актёров, но потом связываем её с таблицей фильмов 
# и только тогда фильтруем по бюджету
# создаём датафрейм с актерами
actors = pd.DataFrame({}, columns=['imdb_id','actor'])
cur_key = 0
# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,cast in data['cast'].str.split('|').items():
    for name in cast:
        actors = pd.concat([actors, pd.DataFrame([[data.imdb_id.loc[key],name]], columns=['imdb_id','actor'], index=[cur_key])])
        cur_key += 1

joined = data[data.budget > data.budget.mean()].merge(actors, on='imdb_id', how='inner').groupby(['actor'])['imdb_id'].count().sort_values(ascending=False)
display(joined.index[0])
answers['16'] = '3. Matt Damon'

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [195]:
# Nicolas Cage

# создаём датафрейм с жанрами
genres = pd.DataFrame(columns=['imdb_id','genre'])
cur_key = 0
# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,genres_list in data[data.cast.str.contains('Nicolas Cage')]['genres'].str.split('|').items():
    for genre in genres_list:
#         print(cur_key,data.imdb_id.loc[key],genre)
        temp = pd.DataFrame([[data.imdb_id.loc[key],genre]], columns=['imdb_id','genre'], index=[cur_key])
#         display(genres)
        genres = pd.concat([genres, temp])
        cur_key += 1

display(genres.groupby(['genre'])['imdb_id'].count().sort_values(ascending=False).index[0])
answers['17'] = '2. Action'

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [196]:
# Проблема! Почему data.profit.min() не работает в фильтре ниже?
display(data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit == -64831034)])
answers['18'] = '1. The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,3,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [199]:
display(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0])
answers['19'] = '5. 2015'

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [200]:
display(data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0])
answers['20'] = '1. 2014'

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [204]:
# Создаём столбец с номером месяца
data['month'] = data.release_date.apply(lambda x: int(x.split('/')[0]))
display(data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False).index[0])
# 9 - сентябрь
answers['21'] = '4. Сентябрь'

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [203]:
display(data[(data.month >= 6) & (data.month <= 8)]['imdb_id'].count())
answers['22'] = '2. 450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [205]:
# создаём датафрейм с режиссёрами
directors = pd.DataFrame({}, columns=['imdb_id','director'])
cur_key = 0

# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,director_list in data['director'].str.split('|').items():
    for name in director_list:
        directors = pd.concat([directors, pd.DataFrame([[data.imdb_id.loc[key],name]], columns=['imdb_id','director'], index=[cur_key])])
        cur_key += 1

seasons = data[data.month.isin([1,2,12])][['imdb_id','month']]
display(directors.merge(seasons, on='imdb_id', how='inner').groupby(['director'])['imdb_id'].count().sort_values(ascending=False).index[0])
# 5. Peter Jackson
answers['23'] = '5. Peter Jackson'

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [206]:
# создаём датафрейм со студиями
production_companies = pd.DataFrame({}, columns=['imdb_id','production_company'])
cur_key = 0

# Вариант 1. Применяем фильтр по бюджету на таблицу актёров и по ней же считаем
for key,company_list in data['production_companies'].str.split('|').items():
    for name in company_list:
        production_companies = pd.concat([production_companies, pd.DataFrame([[data.imdb_id.loc[key],name]], columns=['imdb_id','production_company'], index=[cur_key])])
        cur_key += 1

data_fc = data[['imdb_id','original_title']].merge(production_companies, on='imdb_id', how='inner')
data_fc['len_title'] = data_fc['original_title'].apply(len)
display(data_fc[data_fc.len_title == data_fc.len_title.max()])

# 5. Four By Two Productions
answers['24'] = '5. Four By Two Productions'

,imdb_id,original_title,production_company,len_title
4686,tt0443453,Borat: Cultural Learnings of America for Make ...,Twentieth Century Fox Film Corporation,83
4687,tt0443453,Borat: Cultural Learnings of America for Make ...,Four By Two Productions,83

In [208]:
# Вариант 2. С-скорость!
display(data[data.original_title.str.len() == data.original_title.str.len().max()])

# 5. Four By Two Productions
answers['24'] = '5. Four By Two Productions'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,11,12,42

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [211]:
import re 


def get_count_words(text):
    # Возвращается кол-во найденных слов в строке
    return len(re.compile('\w[^\s]*').findall(text))


# Фильтруются от значений NaN (значение равно самому себе)
data_fc.groupby(['production_company'])['overview_count'].mean().sort_values(ascending=False)
# Annapurna Pictures
# Ошибка, тут неверное построение данных!!!

KeyError: 'Column not found: overview_count'

In [213]:
# Вариант 2

def get_count_words(text):
    # Возвращается кол-во найденных слов в строке
    import re
    return len(re.compile('\w[^\s]*').findall(text))


data['overview_count'] = data.overview.apply(get_count_words)
display(data.groupby(['production_companies'])['overview_count'].mean().sort_values(ascending=False).index[0])

# 3. Midnight Picture Show
answers['25'] = '3. Midnight Picture Show'

'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [214]:
# считаем кол-во фильмов, отбираем 1% в порядке убывания (верхушку с лучшими рейтингами)
data_best = data.sort_values(by=['vote_average'], ascending=False).head(round(len(data['vote_average'])/100))

# Варианты для проверки (подставляем в фильтр ниже)
# 1 - ['Inside Out', 'The Dark Knight', '12 Years a Slave']
# 2 - ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
# 3 - ['Batman Begins', 'The Lord of the Rings: The Return of the King', U'pside Down']
# 4 - ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
# 5 - ['Upside Down', 'Inside Out', 'Iron Man']
display(data_best[data.original_title.isin(['Inside Out', 'The Dark Knight', '12 Years a Slave'])])

answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

<ipython-input-214-81782ec3da7a>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(data_best[data.original_title.isin(['Inside Out', 'The Dark Knight', '12 Years a Slave'])])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_count_words,overview_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,3,67
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,2,111
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,4,61

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [216]:
# Вариант через сводку, но не знаю пока как сделать это
# Сейчас этот вариант НЕ РАБОТАЕТ!!!
data.pivot_table(
    values=['runtime'],
    index=['imdb_id'],
    columns=['cast'],
    aggfunc='sum'
).head(3)

                                                                                 runtime  \
cast      50 Cent|Joy Bryant|Adewale Akinnuoye-Agbaje|Omar Benson Miller|Terrence Howard
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                        \
cast      Aamir Khan|Kareena Kapoor|Madhavan|Sharman Joshi|Boman Irani
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                               \
cast      Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanley Tucci|TchÃ©ky Karyo
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                 \
cast      Aaron Eckhart|Jennifer Aniston|Judy Greer|Martin Sheen|Deirdre Blades
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                           \
cast      Aaron Eckhart|Maria Bello|Cameron Bright|Adam Brody|Sam Elliott
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                   \
cast      Aaron Eckhart|RamÃ³n RodrÃ­guez|Will Rothhaar|Cory Hardrict|Jim Parrack
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                \
cast      Aaron Eckhart|Yvonne Strahovski|Bill Nighy|Jai Courtney|Miranda Otto
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                               \
cast      Aaron Paul|Dominic Cooper|Imogen Poots|Rami Malek|RamÃ³n RodrÃ­guez
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                 \
cast      Aaron Stanford|Kathleen Quinlan|Vinessa Shaw|Emilie de Ravin|Dan Byrd
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                                      \
cast      Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Christopher Mintz-Plasse|Nicolas Cage|Mark Strong
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

           ...  \
cast       ...
imdb_id    ...
tt0120630  ...
tt0120667  ...
tt0120679  ...

                                                                                 \
cast      Zac Efron|Miles Teller|Michael B. Jordan|Imogen Poots|Mackenzie Davis
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                            \
cast      Zach Braff|Garry Marshall|Don Knotts|Patrick Stewart|Amy Sedaris
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                           \
cast      Zach Galifianakis|Robert Downey Jr.|Michelle Monaghan|Jamie Foxx|Juliette Lewis
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                \
cast      Zachary Gordon|Devon Bostick|Rachael Harris|Robert Capron|Steve Zahn
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                                      \
cast      Zachary Gordon|Robert Capron|ChloÃ« Grace Moretz|Steve Zahn|Rachael Harris
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                              \
cast      Zachary Levi|David Cross|Jason Lee|Justin Long|Matthew Gray Gubler
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                         \
cast      Zachary Levi|Mandy Moore|Donna Murphy|Ron Perlman|M.C. Gainey
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                \
cast      Zhang Ziyi|Gong Li|Youki Kudoh|Tsai Chin|Suzuka Ohgo
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

                                                                            \
cast      Zoe Saldana|Cliff Curtis|Callum Blue|Michael Vartan|Lennie James
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN


cast      Zoe Saldana|James Marsden|Martin Lawrence|Peter Dinklage|Danny Glover
imdb_id
tt0120630                                                NaN
tt0120667                                                NaN
tt0120679                                                NaN

[3 rows x 1878 columns]

ВАРИАНТ 2

In [219]:
# Вариант 2
# Выполнить join актёра с актёрами по ключу imdb_id, сгруппировать по полученым парам, исклюучить пары "сам с собой" и применить count()
partners = actors.merge(actors, on='imdb_id', how='inner')
display(partners[partners.actor_x != partners.actor_y].groupby(['actor_x', 'actor_y']).count().sort_values(by=['imdb_id'], ascending=False).index[0])

answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

('Rupert Grint', 'Daniel Radcliffe')

In [ ]:
# Вариант 3. Соовсем уж в лоб, без аналитической ценности, поэтому писать его не буду.
# Найти конкретные пары актёров из предложенных ответов, используя .contains()
# data.cast.str.contains('Johnny Depp') & data.cast.str.contains('Helena Bonham Carter')

# Submission

In [242]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': '5. Avatar (tt0499549)',
 '14': '3. Robert Rodriguez',
 '13': '5. Peter Jackson',
 '12': '1. Drama',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint верно',
 '11': '3. Drama',
 '10': '5. The Lone Ranger (tt1210819)',
 '9': '4. The Dark Knight (tt0468569)',
 '8': '1. 1478',
 '7': '5. The Lone Ranger (tt1210819)',
 '5': '1. 107',
 '4': '2. 110',
 '3': '3. Winnie the Pooh (tt1449283)',
 '2': '2. Gods and Generals (tt0279111)',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [243]:
# и убедиться что ни чего не пропустил)
len(answers)

27